<p>Thank-You, <%= @name %>, for telling us about yourself!</p>

<p>
    <strong>Your Message was: </strong> <br>
    <%= @message %>

</p>


<p>
Will contact you very soon at <%= @email %>. Thank you!

</p>